.cool1{
    border-radius:5px;
    width:140px;
    height:52px;
    border:1px solid #2596be;
    background-color: #ffffff;
    color: #482ff7;
    font-weight: 500 bold;
    font-size:1.4rem;
}

.cool1:hover{
    border:2px solid #2596be;
    /* box-shadow: 1px 3px #888888; */
}

.cool2{
    border-radius:5px;
    width:140px;
    height:52px;
    border:1px solid #2596be;
    background: #2596be;
    color: #ffffff;
    font-weight: 500 bold;
    font-size:1.4rem;
}

.cool2:hover{
    border:3px solid #016285;
}