@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

*{
  margin:0;
  /* margin-left:5px;
  margin-right:5px; */
  padding:0;
  box-sizing: border-box;
}

html {
  height:100%;
  background: rgb(246,240,240);
  background: linear-gradient(13deg, rgba(246,240,240,1) 10%, rgba(218,244,255,0.9890567050890976) 51%);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color:#f7f7f7; */
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}



/*Bagian header nya*/

.header{
  border-bottom: 1px solid #E2E8F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

/* .onlyMargin{
  margin-left:50px;
  margin-right:50px;
} */

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-right: 30px;
}

.navMenu{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.navItem{
  margin-left:5rem;
  list-style: none;
}

.navLink{
  text-decoration: none;
  font-family: 'Trade Winds', cursive;  
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
  cursor: pointer;
}

.navLink:hover{
  color: #482ff7;
}

.navLogo{
  display:flex;
  align-items: center;
  margin-left:30px;
  font-family: 'Trade Winds', cursive;  
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
  cursor:default;
}

/*Bagian button hamburger nya*/

.hamburger{
  margin-right: 30px;
  display:none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

footer {
  display: block;
  text-align: center;
  font-family: 'Trade Winds', cursive;  
  font-size: 1.6rem;
  background-color: "transparant";
  padding: 30px 0;
  margin-top: auto;
  color: #777;
  border-top: 1px solid #eaeaea;
}


@media only screen and (max-width: 768px) {
  .navMenu {
      position: fixed;
      left: -100%;
      top: 7.2rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navMenu.active {
      left: 0;
  }

  .navItem {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active.bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active.bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active.bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

}