@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@font-face { /*deklarasi font sendiri(bukan google font) agar bisa dikenali css dan dipake*/
    font-family: "Font Genshin";
    src: url('/genshin.ttf'); /*taro file ttf nya di public dan tulis baris kode ini untuk pick up*/
 }


.container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin: 10rem auto;
}
.contText{
    font-size:3rem;
}

.h4space{
    font-family: "Font Genshin";
    margin-bottom: 20px;
}

.h2space{
    font-family: "Font Genshin";
    margin-bottom: 40px;
}

.onlyWidth{
    margin-left:50px;
    margin-right:50px;
}

.contBtn{
    width: 300px;
    display: flex;
    justify-content:space-between;
  }

@media only screen and (max-width:768px) {
    .container{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        margin: 10rem auto;
    }

    .contText{
        font-size:2.3rem;
        margin-bottom: 50px;
    
    }

    
}