@font-face { /*deklarasi font sendiri(bukan google font) agar bisa dikenali css dan dipake*/
    font-family: "Font Genshin";
    src: url('/genshin.ttf'); /*taro file ttf nya di public dan tulis baris kode ini untuk pick up*/
 }

.contLeft{
    display: flex;
    justify-content: flex-start;
    margin: 50px 100px;
}

.contTitleSkill{
    display: flex;
    justify-content: flex-start;
    margin: 50px 100px;
    font-family: 'Font Genshin';
    font-size:1.7rem;
    color: #9b98ad;
}

.contLeftNext{
    display: flex;
    justify-content: flex-start;
    margin: 50px 100px;
}

.contRight{
    display: flex;
    justify-content: flex-end;
    margin: 50px 100px;
}

.contEachLeft{
    display:flex;
    /* justify-content: flex-start; */
    align-items: center;
    text-align: justify;
    width: 1000px;
    height: 180px;
    padding-right: 20px;
    background-color: #2596be;
    font-family: 'Font Genshin';
    font-size:1.4rem;
    color: #ffffff;
}

.contEachRight{
    display:flex;
    /* justify-content: flex-end; */
    align-items: center;
    text-align: justify;
    width: 1000px;
    height: 180px;
    padding-right: 20px;
    background-color: #4d3a07;
    font-family: 'Font Genshin';
    font-size:1.4rem;
    color: #ffffff;
}

.marginImg{
    margin-right: 20px;
    margin-left: 20px;
}

.marginImgJS{
    margin-right: 20px;
    margin-left: 20px;
}

.marginImgReact{
    padding-right: 20px;
    padding-left: 20px;
}

@media only screen and (max-width: 768px) {
    .contEachLeft{
        display:flex;
        flex-direction:column;
        text-align: justify;
        /* justify-content: flex-start; */
        align-items: center;
        width: 1000px;
        height: 500px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #2596be;
        font-family: 'Font Genshin';
        font-size:1.4rem;
        color: #ffffff;
    }
    
    .contEachRight{
        display:flex;
        flex-direction: column;
        text-align: justify;
        /* justify-content: flex-end; */
        align-items: center;
        width: 1000px;
        height: 430px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #4d3a07;
        font-family: 'Font Genshin';
        font-size:1.4rem;
        color: #ffffff;
    }

    .marginImg{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .marginImgJS{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .marginImgReact{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
}